
<h2>{{  person | json }}</h2>

<p>grid works!</p>
<section>
    <!-- <ul *ngFor="let item of concepts;">
        <li *ngIf="item.trim().toLowerCase() === 'Signals'; else itemDefault">Fix</li>
         <ng-template #itemDefault>
            <li>{{item}}</li>
         </ng-template>
    </ul>

  -->

  <ul>
    <li *ngFor="let item of concepts">
       <!-- <span *ngIf="item.trim().toLowerCase() === 'signals'; else itemDefault">
        *
       </span> -->

       <ng-container *ngIf="item.trim().toLowerCase() === 'signals'; else itemDefault">
          *  
       </ng-container>
       
       <ng-template #itemDefault>
          {{ item }}  
       </ng-template>
    </li>
  </ul>

  <div [ngSwitch]="concepts[0]">
   <div *ngSwitchCase="'Signals'">Is signal</div>
   <div *ngSwitchCase="'Standalone'">Is Standalone</div>
   <div *ngSwitchDefault>Default</div>
  </div>
   
</section>

<p>Angular 17</p>
<section>
    <ul>
    <!-- this is more performant-->
    <!-- ANGULAR 17 -> 19 -->
    @for (item of concepts; track $index) {
      <li>
        @if(item.trim().toLocaleLowerCase() === 'spider') {
                *

        } @else {
                {{item}}
        }
      </li>  
    }  
 </ul>
</section>
