
<h2>{{  person | json }}</h2>

<p>grid works!</p>
<section>
    <!-- <ul *ngFor="let item of concepts;">
        <li *ngIf="item.trim().toLowerCase() === 'Signals'; else itemDefault">Fix</li>
         <ng-template #itemDefault>
            <li>{{item}}</li>
         </ng-template>
    </ul>

  -->

  <ul>
    <li *ngFor="let item of concepts">
       <ng-container *ngIf="item.name.trim().toLowerCase() === 'signals'; else itemDefault">
          *
       </ng-container>

       <ng-template #itemDefault>
          {{ item.name }}
       </ng-template>
    </li>
  </ul>

  <p [ngSwitch]="concepts[0].name">
   <ng-container *ngSwitchCase="'Signals'">Is signal in switch</ng-container>
   <ng-container *ngSwitchCase="'Standalone'">Is Standalone</ng-container>
   <ng-container *ngSwitchDefault>Default</ng-container>
  </p>

</section>

<p>Angular 17</p>
<section>
    <ul>
    <!-- this is more performant-->
    <!-- ANGULAR 17 -> 19 -->
    @for (item of concepts; track $index) {
      <li>
        @if(item.name.trim().toLocaleLowerCase() === 'signals') {
                *

        } @else {
                {{item.name}}
        }
      </li>
    }
    <p>
      @switch (concepts[0].name) {
         @case ('Signals') {
            is signal
         }
      }
    </p>
 </ul>
</section>


<section class="showcase">
  <h2 class="showcase__heading">CSS Grid layout</h2>
  <div class="showcase__grid">
    @for (item of concepts; track item.id) {
      <app-card
        [aliasTitle]="item.name"
        [index]="$index"
        [angularVersion]="item.angularversion"
        [description]="item.description">
      </app-card>
    }
  </div>

  <h2 class="showcase__heading">Flexbox layout</h2>
  <div class="showcase__flex">
    @for (item of concepts; track item.id) {
      <app-card
        [aliasTitle]="item.name"
        [index]="$index"
        [angularVersion]="item.angularversion"
        [description]="item.description">
      </app-card>
    }
  </div>
</section>

